@model Demo.Project2.Models.User

@{
    ViewData["Title"] = "Trang cá nhân";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Trang cá nhân</h1>

<div>
    <h4>Thông tin chung</h4>
    <hr />
    <dl class="row">
        <dt class="col-xs-12 col-sm-3">
            Tài khoản
        </dt>
        <dd class="col-xs-12 col-sm-9">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-xs-12 col-sm-3">
            Họ và tên
        </dt>
        <dd class="col-xs-12 col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-xs-12 col-sm-3">
            Email
        </dt>
        <dd class="col-xs-12 col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="admin" asp-controller="profile" asp-action="update" asp-route-id="@Model?.Id" class="btn btn-primary">Chỉnh sửa</a>
    <a asp-area="admin" asp-controller="profile" asp-action="updatePassword" asp-route-id="@Model?.Id" class="btn btn-primary">Đổi mật khẩu</a>
    <a asp-area="admin" asp-controller="home" asp-action="index" class="btn btn-primary">Quay lại</a>
</div>
