@model Demo.Project2.Models.User

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Trang cá nhân</h1>

<h4>Đổi mật khẩu</h4>
<hr />
<div class="">
    <div class="">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label">Tài khoản</label>
                <input asp-for="Username" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" type="password" class="form-control" required="required" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>*@
            <span class="text-success">@ViewBag.message</span>
            <div class="form-group mt-3">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a asp-area="admin" asp-controller="profile" asp-action="index" class="btn btn-primary">Quay lại</a>
            </div>
        </form>
    </div>
</div>