@using System.Security.Claims;
@{
    var username = User.FindFirstValue(ClaimTypes.Name);
    var role = User.FindFirstValue(ClaimTypes.Role);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/dist/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/customer/customer.css">
    <title>Trang chủ</title>
    <style>
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light border-bottom py-4">
            <div class="container-fluid">
                <button class="navbar-toggler btn btn-light me-3 border border-dark-subtle" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-controller="home" asp-action="index" class="navbar-brand fw-bold">THANH THUY STORE</a>
                <button class="navbar-toggler btn btn-light border border-dark-subtle" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <form asp-controller="home" asp-action="index" class="d-flex ms-auto me-2">
                        <div class="input-group my-3 my-lg-0">
                            <input name="SearchString" class="form-control border border-dark-subtle" placeholder="Tìm kiếm">
                            <button type="submit" class="btn btn-light border border-dark-subtle">
                                <i class="bi bi-search text-black"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            @await Component.InvokeAsync("Cart")
                        </li>
                        <li class="nav-item dropdown">
@if (username == null || role != "Customer") {
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-controller="auth" asp-action="login" class="dropdown-item">Đăng nhập</a></li>
                                <li><a asp-controller="auth" asp-action="register" class="dropdown-item">Đăng Ký</a></li>
                            </ul>
} else {
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>@username</span>
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-controller="profile" asp-action="index" class="dropdown-item">Trang cá nhân</a></li>
                                <li><a asp-controller="profile" asp-action="editPassword" class="dropdown-item">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a asp-controller="auth" asp-action="logout" class="dropdown-item">Đăng xuất</a></li>
                            </ul>
}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start sidebar-nav bg-dark opacity-75 text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <nav class="navbar navbar-dark">
                    <ul class="navbar-nav w-100">
                        <li>
                            <h3 class="px-3 my-2">Danh mục</h3>
                        </li>
                        <li class="my-2"></li>
                        @await Component.InvokeAsync("SideCategories")
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="d-flex justify-content-center row m-5">
            @RenderBody()
        </div>
    </main>

    <footer class="footer py-3 bg-light fixed-bottom border-top">
        <div class="container-fluid">
            <div class="d-flex small">
                <div class="text-muted ms-auto">Copyright &copy; Thanh Thuy Store 2023</div>
            </div>
        </div>
    </footer>

    <script src="~/assets/dist/js/jquery-3.7.0.min.js"></script>
    <script src="~/assets/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/dist/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/customer/customer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>