

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/customer/customer.css">
    <title>Trang chủ</title>
    <style>
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light border-bottom py-4">
            <div class="container-fluid">
                <button class="navbar-toggler btn btn-light me-3 border border-dark-subtle" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-controller="home" asp-action="index" class="navbar-brand fw-bold">THANH THUY STORE</a>
                <button class="navbar-toggler btn btn-light border border-dark-subtle" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    @await Component.InvokeAsync("Search")
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">
                                <i class="bi bi-cart-fill"></i>(1)
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-controller="auth" asp-action="login" class="dropdown-item">Đăng nhập</a></li>
                                <li><a asp-controller="auth" asp-action="register" class="dropdown-item">Đăng Ký</a></li>
                            </ul>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>customer</span>
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Trang cá nhân</a></li>
                                <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="loginModalLabel">Đăng nhập</h1>
                        <a class="btn-close" data-bs-dismiss="modal"></a>
                    </div>
                    <form asp-controller="auth" asp-action="login" method="post">
                        <div class="modal-body">
                            <div class="form-floating my-3">
                                <input class="form-control" id="floatingUsername" placeholder="Tài khoản" />
                                <label for="floatingUsername">Tài khoản</label>
                            </div>
                            <div class="form-floating my-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu" />
                                <label for="floatingPassword">Mật khẩu</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Đăng ký</a>
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="registerModalLabel">Đăng ký</h1>
                        <a class="btn-close" data-bs-dismiss="modal"></a>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng Nhập</a>
                        <a class="btn btn-primary">Đăng Ký</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start sidebar-nav bg-dark opacity-75 text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <nav class="navbar navbar-dark">
                    <ul class="navbar-nav w-100">
                        <li>
                            <h3 class="px-3 my-2">Danh mục</h3>
                        </li>
                        <li class="my-2"></li>
                        @await Component.InvokeAsync("SideCategories")
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="d-flex justify-content-center row m-5">
            @RenderBody()
        </div>
    </main>

    <footer class="footer py-3 bg-light fixed-bottom border-top">
        <div class="container-fluid">
            <div class="d-flex small">
                <div class="text-muted ms-auto">Copyright &copy; Thanh Thuy Store 2023</div>
            </div>
        </div>
    </footer>

    <script src="~/assets/dist/js/jquery-3.7.0.min.js"></script>
    <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/customer/customer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>