<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/customer/customer.css">
    <title>Trang chủ</title>
    <style>
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light me-3 border border-dark-subtle" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-controller="home" asp-action="index" class="navbar-brand fw-bold">THANH THUY STORE</a>
                <button class="navbar-toggler btn btn-light border border-dark-subtle" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto me-3" role="search">
                        <div class="input-group my-3 my-lg-0">
                            <input type="text" class="form-control border border-dark-subtle" placeholder="Tìm kiếm"
                                   aria-label="Tìm kiếm" aria-describedby="button-addon2">
                            <button class="btn btn-light border border-dark-subtle" type="button" id="button-addon2">
                                <i class="bi bi-search text-black"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <span>customer</span>
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Trang cá nhân</a></li>
                                <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        @await Component.InvokeAsync("Category")
    </header>

    <main class="container mb-5 mt-3">
        <div class="row mx-5">
            @RenderBody()
        </div>
    </main>

    <footer class="footer py-3 bg-light fixed-bottom border-top">
        <div class="container-fluid">
            <div class="d-flex small">
                <div class="text-muted ms-auto">Copyright &copy; Thanh Thuy Store 2023</div>
            </div>
        </div>
    </footer>

    <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/customer/customer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>