
@{
    ViewData["Title"] = "Kết quả thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-5">
    <h3>Kết quả thanh toán</h3>
    <h4 class="text-success">Thanh toán thành công</h4>
    <div class="form-group mt-3">
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Quay lại</a>
    </div>
</div>