:root {
    --offcanvas-width: 300px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(90deg);
}

@media (max-width: 991px) {
    .category {
        display: none;
    }
}

.image-slide {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.image-product {
    object-fit: cover;
}

a {
    text-decoration: none;
}