@model Demo.Project2.Models.Slide

@{
    ViewData["Title"] = "Chi tiết slide";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Slide</h1>

<h4>Chi tiết slide</h4>
<hr />
<div class="">
    <div class="">
        <form>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã</label>
                <input asp-for="Code" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Hình ảnh</label>
                <img src="~/admin/images/slides/@Model.Image" width="200" alt="" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control" readonly></textarea>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    Hoạt động
                    <input class="form-check-input" asp-for="IsActive" disabled />
                </label>
            </div>
            <div class="form-group mt-3">
                <a asp-area="admin" asp-controller="slide" asp-action="edit" asp-route-id="@Model?.Id" class="btn btn-primary">Chỉnh sửa</a>
                <a asp-area="admin" asp-controller="slide" asp-action="index" class="btn btn-primary">Quay lại</a>
            </div>
        </form>
    </div>
</div>