
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thống kê</h1>

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card text-bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Phân loại</h5>
                <p class="card-text">@ViewBag.CountChildCategories phân loại có sẵn</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card text</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card text</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card text</p>
            </div>
        </div>
    </div>
</div>