@model Demo.Project2.Models.Category

@{
    ViewData["Title"] = "Tạo phân loại con";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Phân loại</h1>

<h4>Tạo phân loại con mới</h4>
<hr />
<div class="">
    <div class="">
        <form asp-area="admin" asp-controller="category" asp-action="createChild">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã</label>
                <input asp-for="Code" class="form-control" required="required" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" required="required" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label">Phân loại cha</label>
                <select asp-for="ParentId" class="form-control form-select" asp-items="ViewBag.ParentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    Hoạt động
                    <input class="form-check-input" asp-for="IsActive" />
                </label>
            </div>
            <span class="text-danger">@ViewBag.Error</span>
            <div class="form-group mt-3">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a asp-area="admin" asp-controller="category" asp-action="index" class="btn btn-primary">Quay lại</a>
            </div>
        </form>
    </div>
</div>