@model IEnumerable<Demo.Project2.Models.Category>

@{
    var a = 1;
    foreach (var item in Model) {
<li>
    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#@a" aria-expanded="false" aria-controls="collapseExample">
        <span class="right-icon"><i class="bi bi-chevron-right"></i></span>
        <span class="fw-bold">@item.Name</span>
    </a>
    <div class="collapse" id="@a">
        <div>
            <ul class="navbar-nav ps-5">
            @foreach (var childItem in item.ChildCategories.TakeWhile(b => b.IsActive)) {
                <li>
                    <a href="#" class="nav-link">
                        <span>@childItem.Name</span>
                    </a>
                </li>
                    
            }
            </ul>
        </div>
    </div>
</li>
        a++;
    }
}