@model IEnumerable<Demo.Project2.Models.Product>

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5 mb-3">
<div class="category col-lg-3 border border-dark-subtle">
    <ul class="navbar-nav">
        <li>
            @await Component.InvokeAsync("MainCategories")
        </li>
    </ul>
</div>
<div class="col-md-12 col-lg-9">
    @await Component.InvokeAsync("Slides")
</div>
</div>
<h3>Sản phẩm bán chạy</h3>
<hr />
<div class="row">
    @await Component.InvokeAsync("FeaturedProducts")
</div>
<h3>Tất cả sản phẩm</h3>
<hr />
<div class="row">
@foreach (var item in Model) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card text-bg-light mb-3 py-2">
            <img src="~/admin/images/products/@item.Image" class="card-img-top img-fluid w-75 mx-auto" alt="">
            <div class="card-body mx-auto">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@(item.Price) VND</p>
            </div>
            <button type="button"
                    class="btn btn-sm btn-light border border-dark-subtle mx-auto">
                Xem
            </button>
        </div>
    </div>
}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>