@using System.Security.Claims;
@{
    var username = User.FindFirstValue(ClaimTypes.Name);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/dist/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/admin.css">
    <title>Trang quản lý</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="admin" asp-controller="home" asp-action="index" class="navbar-brand fw-bold me-auto">Administration</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>@username</span>
                                <span><i class="bi bi-person-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-area="admin" asp-controller="profile" asp-action="index" class="dropdown-item">Trang cá nhân</a></li>
                                <li><a asp-area="admin" asp-controller="profile" asp-action="editPassword" class="dropdown-item">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a asp-area="admin" asp-controller="auth" asp-action="logout" class="dropdown-item">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body p-0">
                <nav class="navbar navbar-dark">
                    <ul class="navbar-nav">
                        <li>
                            <div class="fw-bold px-3 my-2">
                                <i class="bi bi-speedometer2"></i>
                                Bảng điều khiển
                            </div>
                        </li>
                        <li class="my-2"></li>
                        <li>
                            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="right-icon"><i class="bi bi-chevron-right"></i></span>
                                <span class="me-2"><i class="bi bi-menu-button-wide-fill"></i></span>
                                <span>Ứng dụng</span>
                            </a>
                            <div class="collapse" id="collapse1">
                                <div>
                                    <ul class="navbar-nav ps-3">
                                        <li>
                                            <a asp-area="admin" asp-controller="slide" asp-action="index" class="nav-link px-3">
                                                <span class="me-2"><i class="bi bi-sliders"></i></span>
                                                <span>Slide</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="right-icon"><i class="bi bi-chevron-right"></i></span>
                                <span class="me-2"><i class="bi bi-menu-button-wide-fill"></i></span>
                                <span>Hàng hóa</span>
                            </a>
                            <div class="collapse" id="collapse2">
                                <div>
                                    <ul class="navbar-nav ps-3">
                                        <li>
                                            <a asp-area="admin" asp-controller="category" asp-action="index" class="nav-link px-3">
                                                <span class="me-2"><i class="bi bi-diagram-3"></i></span>
                                                <span>Phân loại</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="admin" asp-controller="product" asp-action="index" class="nav-link px-3">
                                                <span class="me-2"><i class="bi bi-boxes"></i></span>
                                                <span>Sản phẩm</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="right-icon"><i class="bi bi-chevron-right"></i></span>
                                <span class="me-2"><i class="bi bi-people-fill"></i></span>
                                <span>Người dùng</span>
                            </a>
                            <div class="collapse" id="collapse3">
                                <div>
                                    <ul class="navbar-nav ps-3">
                                        <li>
                                            <a href="#" class="nav-link px-3">
                                                <span class="me-2"><i class="bi bi-person-gear"></i></span>
                                                <span>Tài khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="right-icon"><i class="bi bi-chevron-right"></i></span>
                                <span class="me-2"><i class="bi bi-cart-fill"></i></span>
                                <span>Giao dịch</span>
                            </a>
                            <div class="collapse" id="collapse4">
                                <div>
                                    <ul class="navbar-nav ps-3">
                                        <li>
                                            <a href="#" class="nav-link px-3">
                                                <span class="me-2"><i class="bi bi-journal-text"></i></span>
                                                <span>Đơn hàng</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="my-5 py-2">
        <div class="container-fluid mb-5">
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light fixed-bottom border-top">
        <div class="container-fluid">
            <div class="d-flex small">
                <div class="text-muted ms-auto">Copyright &copy; Thanh Thuy Store 2023</div>
            </div>
        </div>
    </footer>

    <script src="~/assets/dist/js/jquery-3.7.0.min.js"></script>
    <script src="~/assets/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/dist/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/admin.js"></script>
</body>

</html>